<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Księga Qumi Soft</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
        	 <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/ksiega">Księga<span class="caret"></span></a>
        	 <ul class="dropdown-menu">
				<li><a routerLink="/addP">Dodaj przychód</a></li>
				<li><a routerLink="/addR">Dodaj rozchód</a></li>
			  </ul>
        </li>
        <li class="dropdown">
        	 <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/ewidencja">Kilometrówka<span class="caret"></span></a>
        	 <ul class="dropdown-menu">
				<li><a routerLink="/ewidencja">Ewidencja przebiegu pojazdu osobowego</a></li>
				<li><a routerLink="/zestawienie">Miesięczne zestawienie kosztów</a></li>
				<li><a routerLink="/pojazd">Lista pojazdów</a></li>
			  </ul>
        </li>
        <li class="dropdown">
        	 <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/dowody">Dowody wewnętrzne<span class="caret"></span></a>
        	 <ul class="dropdown-menu">
				<li><a routerLink="/addDowod">Dodaj dowód</a></li>
			  </ul>
        </li>
        <li class="dropdown">
        	 <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/wyposazenie">Wyposażenie<span class="caret"></span></a>
        	 <ul class="dropdown-menu">
				<li><a routerLink="/addWyposazenie">Dodaj wyposażenie</a></li>
			  </ul>
        </li>
        <li class="dropdown">
        	 <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/kontrahenci">Kontrahenci<span class="caret"></span></a>
        	 <ul class="dropdown-menu">
				<li><a routerLink="/addKontrahenci">Dodaj kontrahenta</a></li>
			  </ul>
        </li>
        <li class="dropdown">
        	 <a class="dropdown-toggle" data-toggle="dropdown" routerLink="/dochodowy">Podatek<span class="caret"></span></a>
        	 <ul class="dropdown-menu">
				<li><a routerLink="/dochodowy">Podatek dochodowy</a></li>
				<li><a routerLink="/zus">Składki ZUS</a></li>
			  </ul>
        </li>
        <li><a (click)="logOut()">Wyloguj</a></li>
      </ul>

    </div>
  </div>
</nav>