<ng-template [ngIf]="!wyslano">
        <form [formGroup]="emailSend" (ngSubmit)="send(emailSend.value)">
            <div class="form-group" [ngClass]="{'has-error':!emailSend.controls['name'].valid && emailSend.controls['name'].touched}">
				        <label for="name">Imię i nazwisko *</label>
				        <input type="text" class="form-control" formControlName="name">
				    </div>
            <div class="form-group" [ngClass]="{'has-error':!emailSend.controls['email'].valid && emailSend.controls['email'].touched}">
				        <label for="email">E-mail *</label>
				        <div class="input-group" >
				            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
				            </span>
				            <input type="email" class="form-control" formControlName="email">
                </div>
				    </div>
            <div class="form-group" [ngClass]="{'has-error':!emailSend.controls['message'].valid && emailSend.controls['message'].touched}">
				        <label for="name">Wiadomość *</label>
				        <textarea  class="form-control" rows="9" cols="25" formControlName="message"></textarea>
				    </div>
            <p *ngIf="!emailSend.valid && (emailSend.controls['name'].touched || emailSend.controls['email'].touched || emailSend.controls['message'].touched)" class="alert alert-danger" style="color:red">Wypełnij wszystkie pola zaznaczone na czerwono</p>
                          
            <button type="submit" class="btn pull-left" [disabled]="!emailSend.valid"   
                            [ngClass]="{'btn-default': emailSend.valid, 'dis':!emailSend.valid}">Wyślij wiadomość</button>
    </form>               
                   
                        
</ng-template>
<ng-template [ngIf]="wyslano">
    <h3>Wiadomość została wysłana</h3>
</ng-template>

