.kpir{
	width:100vw;
	height:100vh;
	background:url(http://www.businessnewsdaily.com/images/i/000/007/874/original/free-business-plan-templates.jpg);
background-attachment:fixed;
background-size:cover;
}

h1{
	color:#ffffff;
	
}

.row{
    padding-bottom: 0px;
}
.loginFacebook{
    width:20vw;
}



