/* You can add global styles to this file, and also import other style files */

body{
    text-align: justify;
    font-size:18px;
}

p{
    font-size: 18px;
}
.row{
    padding: 20px 20px 20px 20px;
}

#oNas{
    padding-top: 40px;
}